input {
    padding: 5px 0px;
}

input[type=submit] {
    border: none;
    border-radius: 10px
}

form.container button:last-child {
    display: flex;
    justify-content: center;
}

form.container button:last-child img {
    margin-right: 5px
}
