{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}
    <h1>Welcome on the Registration Site</h1>

    {% if not user.is_authenticated %}
        <div class="wrapper">
            <button class="orange-white clickable" onclick="location.href='{% url 'main:login' %}'" type="button">Login</button>

            <div class="divider"></div>

            <button class="orange-white clickable" onclick="location.href='{% url 'main:visitor_register' %}'" type="button">Visitor Register</button>
            <button class="orange-white clickable" onclick="location.href='{% url 'main:client_register' %}'" type="button">Client Register</button>
        </div>
    {% endif %}
{% endblock %}
